 <div class="auction">
  <div class="auction-header">
    <h3>{{ auction.title }}</h3>
    <p>{{ auction.date| date: "%B %e, %Y &bull; %l:%M %p %Z" }}</p> 
    <p>{{ auction.location }}</p> 
    <p>{{ auction.owner }}</p> 
    <p><q>{{ auction.owner_comments }}</q></p> 
  </div>
  {% for section in auction.sections %}
  <p>
    <h4>{{ section.name }}:</h4>
    {{ section.text }}
  </p>
  {% endfor %}
  <div class="auction-images">
  {% for image in auction.images %}
  <img src="{{ image.location }}" /><br/>
  {% endfor %}
  </div>
  <p>{{ auction.final_comments }}</p>
</div>
